/*----------
   Reset 
-----------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

/*----------
   Debug 
-----------*/
.debug header {
    background-color:#addBe6;
}

.debug .header-top {
    background-color: #daa520;
    height: 40px;
}

.debug .main-row {
    height: 400px;
}

.debug .col-big {
    background-color: #1e90ff;

}
.debug .col-small {
    background-color: #ffc0cb;

}

.debug .big-green {
    background-color: green;
}

.debug .footer-col {
    height: 350px;
}

.debug .footer-bottom {
    height: 30px;
}

/*----------
   Common 
-----------*/
.container {
    max-width: 1200px;
    margin: auto;

}

/*----------
   Header
-----------*/
header {
    padding: 20px 0;

}
.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-style: dashed;
    border-width: 1px;
    margin-bottom: 30px;
}

.header-row {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
    min-height: 400px;
}

.banner {
    background-color: fuchsia;
    width: 45%;
    height: 300px;
    border-style: dashed;
    border-width: 1px;
}

/*----------
    Main 
-----------*/

section {
    padding: 40px 0;


}

section:nth-child(2n){
    background-color: lightgray;
}


.main-row {
    display: flex;
}

.col-big {
    width: 60%;
    border-style: dashed;
    border-width: 1px;
}

.col-small {
    width: 40%;
    border-style: dashed;
    border-width: 1px;
}

.big-green {
    width: 100%;
    height: 600px;
    border-style: dashed;
    border-width: 1px;
}

/*----------
    Footer
-----------*/
.dark-container {
   padding: 40px 0;
   background-color: rgb(98, 95, 95);
}

.footer-col {
    display: flex;
}

.footer-col0 {
    width: 40%;
    background-color: salmon;
    border-style: dashed;
    border-width: 1px;

}

.footer-col1 {
    width: calc(60% / 4);
    background-color: rgb(11, 104, 88);
    border-style: dashed;
    border-width: 1px;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
}

.footer-button {
    padding: 1px 40px;
    align-content: center;
    border-style: dashed;
}

#footer-section {
    background-color: white;
}